@font-face {
    font-family: "Terminus";
    src: url( 'TerminusTTF-4.46.0.ttf' ) format( 'truetype' ); 
}

/*** Website body and structure ***/
body {
    margin: 0;
    background-color: #454545;
    color: #DDDDDD;
    font-family: 'Terminus';
}
.item {
    #header {
        width: 100%;
        height: 150px;
    }
}

/*** Formatting ***/
a {
    color: #DDEEDD;
    text-decoration: none;
}
