@font-face {
    font-family: "Terminus";
    src: url( 'TerminusTTF-4.46.0.ttf' ) format( 'truetype' ); 
}

/*** Website body and structure ***/
body {
    margin: 0;
    background-color: #454545;
    color: #DDDDDD;
    font-family: 'Terminus';
}
.item {
    width: 100%;
    margin: 5px;
    padding: 5px;
}
#header {
    height: 150px;
}

/*** Formatting ***/
a {
    color: #DDEEDD;
    text-decoration: none;
}
