@font-face {
    font-family:        "Terminus";
    src:                url( 'TerminusTTF-4.46.0.ttf' ) format( 'truetype' ); 
}

/*** Website body and structure ***/
body {
    margin:             0px;
    background-color:   #454545;
    color:              #DDDDDD;
    font-family:        'Terminus';
}
.item {
    margin:             5px;
    border:             0px;
    padding:            5px;
}
.inner {
    margin:             0px;
    border:             0px;
    padding:            5px;
}

/*** Formatting ***/
h1 {
    margin:             5px;
    padding:            0px;
}
h3 {
    margin:             5px;
    padding:            0px;
}
p {
    margin:             5px;
    padding:            0px;
}
a {
    text-decoration:    none;
    color:              #85ABD1;
}
ul {
    margin:             5px;
    padding:            0px;
    list-style-type:    none;
}


/*** Controls ***/
#profilephoto {
    width:              110px;
    height:             110px;
    float:              left;
    margin-right:       15px;
}
